.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dog-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}

.img-container {
  align-self: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 20px 0;
  overflow: hidden;
  width: 500px;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
}

.list-dog {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 5px;
  overflow: scroll;
  text-align: center;
  width: 200px;
}